html body {
    padding: 0px;
    margin: 0px;
}

.game-container {
    position: fixed;
    width: 100%
}

.game-screen {
    position: absolute;
    width: 768px;
    height:1024px;
    left:calc(50% - 364px);
}

.button-container {
    outline: red 3px solid;
    width: 100%;
    height: 100%;
}

.toHomeButton {
    position: absolute;
    width: 200px;
    left:calc(50% - 100px);
    top:calc(80% - 100px);
}

#welcome-screen {
    background-image: url("../backgrounds/template-welcome-screen.png");
}

#home-screen {
    background-image: url("../backgrounds/template-home-screen.png");
}

#shop-screen {
    background-image: url("../backgrounds/template-shop-screen.png");
}

#map-screen {
    background-image: url("../backgrounds/template-map-screen.png");
}

#combat-screen {
    background-image: url("../backgrounds/template-combat-scene.png");
}

#victory-screen {
    background-image: url("../backgrounds/template-victory-screen.png");
}

#menu-screen {
    background-image: url("../backgrounds/template-menu-scroll.png");
}