 /*
 =================================
     Page rules
 =================================
 */

 html body {
     padding: 0px;
     margin: 0px;
     font-family: 'Calligraffitti', cursive;
     background-image: url(../backgrounds/template-page-background.png);
     position: fixed;
     background-repeat: no-repeat;
     background-position-x: center;
     background-color: black;
     width: 100%;
     height: 100%;
 }


 /*
 =================================
     Shared Classes
 =================================
 */

 /* ---- Flex Formatting */

.game-container {
     position: fixed;
     width: 100%;
     height: 100%;
 }

@media(min-width: 768px) {
    .game-container {
        position: absolute;
        max-width: 768px;
        max-height: 1024px;
        left: calc(50% - 384px);
    }
}

 .game-screen {
     width: 100%;
     height: 100%;
     background-position-x: center;
     background-size: cover;
     display: flex;
     flex-direction: column;
 }

.screen-flex-row {
     width: 100%;
     flex: 1;
     flex-basis: 0;
     display: flex;
     flex-direction: row;
     flex-grow: 1;
 }


/* ---- Buttons */

.button {
     background: rgba(103, 3, 218, 0.5);
     border: 0;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     background-size: contain;
     background-repeat: no-repeat;
     transform: scale(1);
     transition: transform 20ms ease-in-out;
 }

 .button:active {
     transform: scale(0.95);
 }

 .button:disabled {
     opacity: 0.5;
 }

.menu-button .button {
    background-image: url(../buttons/settings.png);
}



 /*
 =================================
     Combat Screen
 =================================
 */

#combat-screen {
     background-image: url("../backgrounds/template-combat-scene.png");
 }

/* ----- Flex Rows */

 .stat-section {
    background-color: rgba(168, 28, 28, 0.5);
    justify-content: space-between;
 }

.center-section {
    background-color: rgba(9, 247, 48, 0.5);
    flex-grow: 2;
    justify-content: space-around;
 }

.button-section {
     background-color: rgba(168, 28, 28, 0.5);
     flex-grow: 0;
     justify-content: space-around;
 }

 .menu-section {
    background-color: rgba(168, 28, 28, 0.5);
    flex-grow: 0;
    justify-content: flex-end;
 }


/* ----- Flex columns */

 .stats {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 900px;
    flex-shrink: 1;
    background-size: contain;
    background-repeat: no-repeat;
 }

 .figure-container {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 400px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
 }

.action {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 140px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
 }

.menu {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 50px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5%;
    margin-right: 5%;
 }


/* ----- Inner Flex columns */

.action-inner {
     height: 0;
     padding-top: 100%;
     overflow: hidden;
     position: relative;
 }

 .menu-inner {
     height: 0;
     padding-top: 100%;
     overflow: hidden;
     position: relative;
 }

 /* ----- Stats */

.heroine-stats {
    background-image: url(../stats/template-stats-left.png);
    background-position-x: left;
}

.enemy-stats {
    background-image: url(../stats/template-stats-right.png);
    background-position-x: right;
}

.stat-container {
    border: 2px solid blue;
    height: 100%;
    width: 100%;
}

.inner-stat-container {
    outline: 2px solid aqua;
    position: relative;
    height: 20vw;
    width: 80%;
    top: 10%;
}

.stat-line {
    height: 25%;
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
}

.stat-text {
    font-size: 5vw;
}
@media(min-width: 768px) {
    .inner-stat-container {
        height: 90%;
    }

    .stat-line {
        height: 19%;
    }
    .stat-text {
        font-size: 35px;
    }
}

#heroine-stats-container .inner-stat-container {
    left: 13%;
}

#enemy-stats-container .inner-stat-container {
    left: 8%;
}


#enemy-stats-container .stat-line {
    background-position: right;
}

.health-stat{
    background-image: url(../stats/stat-icon-health.png);
}

.attack-stat{
    background-image: url(../stats/stat-icon-attack.png);
}

.defence-stat{
    background-image: url(../stats/stat-icon-defence.png);
}

.gold-stat{
    background-image: url(../stats/stat-icon-gold.png);
}

#heroine-stats-container .stat-text {
    padding-left: 20%;
}

#enemy-stats-container .stat-text {
    text-align: right;
    padding-right: 18%;
}


/* ----- Figures */

.figure {
    background-position: center;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

 #heroine-base {
    background-image: url(../heroine/heroineBase.png);
 }

 #heroine-sword {
    /* Wooden sword */
 }

 #heroine-sword.iron {
     /* Iron sword */
 }

 #heroine-sword.fancy {
    /* Fancy sword */
 }

 #heroine-sword.magic {
    background-image: url(../heroine/heroine-sword-magic.png);
 }

 #heroine-shield {
    /* Wooden shield */
 }

 #heroine-shield.iron {
   /* Iron shield */
 }

 #heroine-shield.fancy {
    background-image: url(../heroine/heroine-shield-fancy.png);
 }

 #heroine-shield.magic {
    /* Magic shield */
 }

 #enemy.level1 {
    background-image: url(../enemies/enemy1.png);
 }

 #enemy.level2 {
    /* Level 2 enemy */
 }

 #enemy.level3 {
    /* Level 2 enemy */
 }

 #enemy.level4 {
    /* Level 2 enemy */
 }


/* ----- Buttons */

#attack .button {
     background-image: url(../buttons/sword.png);
 }

#defend .button {
    background-image: url(../buttons/shield.png);
}

#flee .button {
    background-image: url(../buttons/run.png);
}


/*
 =================================
    Pop-ups & Loot Drops
 =================================
 */

/*----- Pop screens */

#pop-up-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
}

.text-pop {
    position: absolute;
    font-family: Impact, sans-serif;
    font-size: 30px;
    opacity: 0;
}

#potion-drop-text {
     left: 47%;
     top: 45%;
     color: greenyellow;
}

#gold-drop-text {
     left: 47%;
     top: 45%;
     color: goldenrod;
}

 .pop-up-button {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    position: absolute;
    width: 40vw;
    height: 40vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

 @media (min-width: 768px) {
    .pop-up-button {
        width: 250px;
        height: 250px;
        left: 50%;
        top: 50%;
    }
 }

#goldDrop {
    background-image: url(../buttons/gold.png);
}

#potionDrop {
    background-image: url(../buttons/potion.png);
}

#died {
    background-image: url(../buttons/dead.png);
}

#winFight {
    background-image: url(../buttons/trophy.png);
}



/*
 =================================
     Welcome Screen
 =================================
*/

#welcome-screen {
     background-image: url("../backgrounds/template-welcome-screen.png");
 }

 /* ----- Flex Rows */

.welcome-buffer-section {
    background-color: rgba(30, 27, 230, 0.5);
    flex-grow: 3;
    flex-basis: 0;
}

/* ----- Flex columns */

.start {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 150px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
}

/* ----- Inner Divs & Buttons*/

#start-game .button {
    background-image: url(../buttons/scroll.png);
}



/*
 =================================
    Home Screen
 =================================
*/

#home-screen {
     background-image: url("../backgrounds/template-home-screen.png");
 }

 /* ----- Flex Rows */

 .home-buffer-section {
    background-color: rgba(30, 27, 230, 0.5);
    flex-grow: 2;
    flex-basis: 0;
}

/* ----- Flex columns */

#home-screen .action {
    flex-basis: 150px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
}

/* ----- Inner Divs & Buttons */

#home-to-shop .button {
    background-image: url(../buttons/shop-sign.png);
}

#home-to-map .button {
    background-image: url(../buttons/road_sign.png);
}



/*
 =================================
    Shop Screen
 =================================
*/

#shop-screen {
     background-image: url("../backgrounds/template-shop-screen.png");
 }

 /* ----- Flex Rows */

 .shop-buffer-section {
    background-color: rgba(30, 27, 230, 0.5);
    flex-grow: 2;
    flex-basis: 0;
}

/* ----- Inner Divs & Buttons */

#upgrade-attack .button {
    background-image: url(../buttons/sword.png);
}

#upgrade-defence .button {
    background-image: url(../buttons/shield.png);
}

#shop-to-home .button {
    background-image: url(../buttons/door.png);
}



/*
 =================================
    Map Screen
 =================================
*/

#map-screen {
     background-image: url("../backgrounds/template-map-screen.png");
 }


/* ----- Flex Rows */

#map-screen .button-section {
    background-color: rgba(168, 28, 28, 0.5);
    flex-grow: 0;
    justify-content: space-around;
}

/* ----- Flex Columns */

#map-screen .action {
    background-color: rgba(86, 16, 218, 0.5);
    flex-grow: 0;
    flex-basis: 70px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
}

/* ----- Media Queries */

@media (min-width: 360px)  {
    #map-screen .action {
        flex-basis: 80px;
     }
}

@media (min-width: 360px) and (min-height: 812px) {
    #map-screen .action {
        flex-basis: 100px;
     }
}

@media (min-width: 400px)  {
    #map-screen .action {
        flex-basis: 90px;
     }
}

@media (min-width: 400px)  {
    #map-screen .action {
        flex-basis: 90px;
     }
}

@media (min-width: 768px)  {
    #map-screen .action {
        flex-basis: 130px;
     }
}



/* ----- Inner Divs & Buttons */


#enemy-1-button .button {
    background-image: url(../buttons/enemy.png);
}

#enemy-2-button .button {
    background-image: url(../buttons/enemy.png);
}

#enemy-3-button .button {
    background-image: url(../buttons/enemy.png);
}

#enemy-4-button .button {
    background-image: url(../buttons/enemy.png);
}

#map-to-home .button {
    background-image: url(../buttons/road_sign.png);
}




/*
 =================================
    Victory Screen
 =================================
*/

#victory-screen {
     background-image: url("../backgrounds/template-victory-screen.png");
 }




 /*
 =================================
    Menu
 =================================
 */

#menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

#menu-scroll {
     background-image: url("../buttons/dialogueScroll.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position-x: center;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     height: 80%;
     width: 70%;
 }

 #menu-text-box {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 250px;
    text-align: center;
 }

 #menu-text-box ul {
     list-style: none;
     padding: 0;
 }

#menu-screen .button {
    width: 65%;
    position: inherit;
    top: 0;
    margin-top: 3%;
    transform: scale(1);
    transition: transform 20ms ease-in-out;
    font-size: 5vw;
}

#menu-screen h2 {
    font-size: 11vw;
    font-weight: bold;
}

@media (min-width: 768px) {
    #menu-text-box {
        height: 600px;
        width: 350px;
    }

    #menu-screen .button {
        width: 75%;
        font-size: 4vw;
    }

    #menu-screen h2 {
        font-size: 7vw;
        font-weight: bold;
    }
}


















/* ------------------------------------




 #frame {
     background-image: url("../backgrounds/template-game-frame.png");
     position: absolute;
     width: 768px;
     height: 1024px;
     left: calc(50% - 384px);
     pointer-events: none;
 }

 body {
     background-image: url("../backgrounds/template-page-background.png");
     background-repeat: no-repeat;
     background-color: black;
     background-position-x: 50%;
 }
  ----- BUTTONS

 .buttonClass {
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     background-color: rgba(0, 0, 0, 0);
     border: none;
 }

 .buttonClass:active {
     transform: scale(0.95);
 }

 .buttonClass:disabled {
     opacity: 0.5;
 }

 .button-container {
     outline: red 3px solid;
     width: 100%;
     height: 100%;
 }
  -----

 #welcome-screen .toHomeButton {
     background-image: url(../buttons/scroll.png);
     position: absolute;
     width: 200px;
     height: 200px;
     left: calc(50% - 100px);
     top: calc(80% - 100px);
 }

 .menuButton {
     background-image: url(../buttons/settings.png);
     position: absolute;
     width: 50px;
     height: 50px;
     right: calc(9% - 25px);
     bottom: calc(8% - 25px);
 }
  -----

 .row-button-container2 {
     position: absolute;
     outline: blue 3px solid;
     width: 100%;
     bottom: 60px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }

 .toShopButton {
     background-image: url(../buttons/shop-sign.png);
 }

 #home-screen .toMapButton {
     background-image: url(../buttons/road_sign.png);
 }

 .button2 {
     width: 200px;
     height: 200px;
 }
  -----

 .row-button-container3 {
     position: absolute;
     outline: blue 3px solid;
     width: 100%;
     bottom: 110px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }

 .levelUpAttack {
     background-image: url(../buttons/sword.png);
 }

 .levelUpDefence {
     background-image: url(../buttons/shield.png);
 }

 #shop-screen .toHomeButton {
     background-image: url(../buttons/door.png);
 }
  -----

 .diagonal-button-container {
     position: absolute;
     outline: blue 3px solid;
     display: flex;
     flex-direction: column;
     height: 90%;
     width: 100%;
     top: 8%;
 }

 .enemy4Button {
     background-image: url(../buttons/enemy.png);
     position: absolute;
     width: 150px;
     height: 150px;
     top: 60px;
     left: 60%;
 }

 .enemy3Button {
     background-image: url(../buttons/enemy.png);
     position: absolute;
     width: 150px;
     height: 150px;
     left: 45%;
     top: calc(150px + 100px);
 }

 .enemy2Button {
     background-image: url(../buttons/enemy.png);
     position: absolute;
     width: 150px;
     height: 150px;
     left: 35%;
     top: calc(150px + 150px + 150px);
 }

 .enemy1Button {
     background-image: url(../buttons/enemy.png);
     position: absolute;
     width: 150px;
     height: 150px;
     left: 20%;
     top: calc(150px + 150px + 150px + 200px);
 }

 .mapButtonHome {
     background-image: url(../buttons/road_sign.png);
     position: absolute;
     width: 150px;
     height: 150px;
     left: 70%;
     top: calc(150px + 150px + 150px + 150px + 120px);
 }
  -----

 .attackButton {
     background-image: url(../buttons/sword.png);
 }

 .defenceButton {
     background-image: url(../buttons/shield.png);
 }

 .fleeButton {
     background-image: url(../buttons/run.png);
 }

 .button3 {
     width: 150px;
     height: 150px;
 }


  ----- Heroine & Enemies

 .combat-image {
     position: absolute;
     pointer-events: none;
 }

 .action-text-container {
     position: absolute;
     width: 100%;
     top: 45%;
     font-family: Impact, sans-serif;
     font-size: 50px;
     opacity: 0;
 }

 .heroine-action {
     position: absolute;
     left: 20%;
     color: red;
 }

 .enemy-action {
     position: absolute;
     left: 65%;
     color: blue;
 }

 .damage-taken-text-container {
     position: absolute;
     width: 100%;
     top: 25%;
     font-family: Impact, sans-serif;
     font-size: 20px;
     opacity: 0;
 }

 .heroine-damage-taken {
     position: absolute;
     left: 27%;
     color: red;
 }

 .enemy-damage-taken {
     position: absolute;
     left: 70%;
     color: red;
 }

  ----- Loot & Potion Drop text

 .loot-drop-container {
     position: absolute;
     width: 100%;
     height: 100%;
     font-family: Impact, sans-serif;
     font-size: 30px;
     pointer-events: none;
 }

 .potion-drop-text {
     position: absolute;
     left: 47%;
     top: 45%;
     color: greenyellow;
     opacity: 0;
 }

 .gold-drop-text {
     position: absolute;
     left: 47%;
     top: 45%;
     color: goldenrod;
     opacity: 0;
 }

  ----- Round counter

 .round-counter-container {
     position: absolute;
     width: 768px;
     height: 1024px;
     left: calc(50% - 384px);
     pointer-events: none;
 }

 .inner-round-counter-container {
     position: absolute;
     width: 200px;
     height: 100px;
     left: calc(50% - 100px);
     top: calc(25% - 100px);
     pointer-events: none;
 }

 .inner-round-counter-container p {
     text-align: center;
 }
  Animation test

 #animation-text {
     opacity: 0;
     text-align: center;
 }