 /*
 =================================
     Page rules
 =================================
 */

 html body {
     padding: 0px;
     margin: 0px;
     font-family: 'Calligraffitti', cursive;
     background-image: url(../backgrounds/template-page-background.png);
     position: fixed;
     background-repeat: no-repeat;
     background-position-x: center;
     background-color: black;
 }

 /*
 =================================
     Media Queries
 =================================
 */

@media(min-width: 768px) {
    .game-container {
        position: absolute;
        max-width: 768px;
        max-height: 1024px;
        left: calc(50% - 384px);
    }
}

 /*
 =================================
     Shared Classes
 =================================
 */

 /* ---- Flex Formatting */

 .game-container {
     position: fixed;
     width: 100%;
     height: 100%;
 }

 .game-screen {
     width: 100%;
     height: 100%;
     background-position-x: center;
     background-size: cover;
     display: flex;
     flex-direction: column;
 }

.screen-flex-row {
     width: 100%;
     flex: 1;
     flex-basis: 0;
     display: flex;
     flex-direction: row;
     flex-grow: 1;
 }


/* ---- Buttons */

.button {
     background: rgba(103, 3, 218, 0.5);
     border: 0;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     background-size: contain;
     background-repeat: no-repeat;
     transform: scale(1);
     transition: transform 20ms ease-in-out;
 }

 .button:active {
     transform: scale(0.95);
 }

 .button:disabled {
     opacity: 0.5;
 }

.menu-button .button {
    background-image: url(../buttons/settings.png);
}



 /*
 =================================
     Combat Screen
 =================================
 */

#combat-screen {
     background-image: url("../backgrounds/template-combat-scene.png");
 }

/* ----- Flex Rows */

 .stat-section {
    background-color: rgba(168, 28, 28, 0.5);
    justify-content: space-between;
 }

.center-section {
    background-color: rgba(9, 247, 48, 0.5);
    flex-grow: 2;
    justify-content: space-around;
 }

.button-section {
     background-color: rgba(168, 28, 28, 0.5);
     flex-grow: 0;
     justify-content: space-around;
 }

 .menu-section {
    background-color: rgba(168, 28, 28, 0.5);
    flex-grow: 0;
    justify-content: flex-end;
 }


/* ----- Flex columns */

 .stats {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 900px;
    flex-shrink: 1;
    background-size: contain;
    background-repeat: no-repeat;
 }

 .figure-container {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 400px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
 }

.action {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 140px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
 }

.menu {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 50px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5%;
    margin-right: 5%;
 }


/* ----- Inner Flex columns */

.action-inner {
     height: 0;
     padding-top: 100%;
     overflow: hidden;
     position: relative;
 }

 .menu-inner {
     height: 0;
     padding-top: 100%;
     overflow: hidden;
     position: relative;
 }

 /* ----- Stats */

.heroine-stats {
    background-image: url(../stats/template-stats-left.png);
    background-position-x: left;
}

.enemy-stats {
    background-image: url(../stats/template-stats-right.png);
    background-position-x: right;
}

.stat-container {
    border: 2px solid blue;
    height: 100%;
    width: 100%;
}

.inner-stat-container {
    border: 2px solid aqua;
    position: relative;
    height: 65%;
    width: 80%;
    top: 10%;
}

@media(min-width: 768px) {
    .inner-stat-container {
        border: 2px solid aqua;
        position: relative;
        height: 90%;
        width: 80%;
        top: 10%;
    }

    .stat-line {
        height: 19%;
    }
}

#heroine-stats-container .inner-stat-container {
    left: 15%;
}

#enemy-stats-container .inner-stat-container {
    left: 8%;
}

.stat-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#heroine-stats-container .stat-line {
    border: 2px solid red;
    height: 17%;
    background-repeat: no-repeat;
    background-size: contain;
}

#enemy-stats-container .stat-line {
    border: 2px solid red;
    height: 17%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.health-stat{
    background-image: url(../stats/stat-icon-health.png);
}

.attack-stat{
    background-image: url(../stats/stat-icon-attack.png);
}

.defence-stat{
    background-image: url(../stats/stat-icon-defence.png);
}
.gold-stat{
    background-image: url(../stats/stat-icon-gold.png);
}

#heroine-stats-container .stat-text {
    font-size: 2vh;
    padding-left: 15%;
}

#enemy-stats-container .stat-text {
    text-align: right;
    font-size: 2vh;
    padding-right: 15%;
}

/*
----- Player Stats

 .player-stats-container {
     position: absolute;
     width: 768px;
     height: 1024px;
     left: calc(50% - 384px);
     pointer-events: none;
 }

 .iconSmall {
     height: 25px;
 }

 .player-stats {
     position: absolute;
     left: 7%;
     top: 5%;
     outline: purple 3px solid;
     background-color: aqua;
     width: 140px;
 }

 .player-stats p {
     font-size: 25px;
     margin-bottom: 4px;
 }
  ----- Enemy Stats

 .enemy-stats-container {
     position: absolute;
     width: 768px;
     height: 1024px;
     left: calc(50% - 384px);
     pointer-events: none;
 }

 .enemy-stats {
     position: absolute;
     right: 7%;
     top: 5%;
     outline: purple 3px solid;
     background-color: pink;
     width: 140px;
 }

 .enemy-stats p {
     font-size: 25px;
     margin-bottom: 4px;
 }

/* ----- Inner Divs & Buttons - Figures */

.figure {
    background-position: center;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

 #heroine-base {
    background-image: url(../heroine/heroineBase.png);
 }

 #heroine-sword {
    /* Wooden sword */
 }

 #heroine-sword.iron {
     /* Iron sword */
 }

 #heroine-sword.fancy {
    /* Fancy sword */
 }

 #heroine-sword.magic {
    background-image: url(../heroine/heroine-sword-magic.png);
 }

 #heroine-shield {
    /* Wooden shield */
 }

 #heroine-shield.iron {
   /* Iron shield */
 }

 #heroine-shield.fancy {
    background-image: url(../heroine/heroine-shield-fancy.png);
 }

 #heroine-shield.magic {
    /* Magic shield */
 }

 #enemy.level1 {
    background-image: url(../enemies/enemy1.png);
 }

 #enemy.level2 {
    /* Level 2 enemy */
 }

 #enemy.level3 {
    /* Level 2 enemy */
 }

 #enemy.level4 {
    /* Level 2 enemy */
 }


/* ----- Inner Divs & Buttons - Buttons */

#attack .button {
     background-image: url(../buttons/sword.png);
 }

#defend .button {
    background-image: url(../buttons/shield.png);
}

#flee .button {
    background-image: url(../buttons/run.png);
}



/*
 =================================
     Welcome Screen
 =================================
*/

#welcome-screen {
     background-image: url("../backgrounds/template-welcome-screen.png");
 }

 /* ----- Flex Rows */

.welcome-buffer-section {
    background-color: rgba(30, 27, 230, 0.5);
    flex-grow: 3;
    flex-basis: 0;
}

/* ----- Flex columns */

.start {
    background-color: rgba(250, 84, 7, 0.5);
    flex-grow: 0;
    flex-basis: 150px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
}

/* ----- Inner Divs & Buttons*/

#start-game .button {
    background-image: url(../buttons/scroll.png);
}


/*
 =================================
    Home Screen
 =================================
*/

#home-screen {
     background-image: url("../backgrounds/template-home-screen.png");
 }

 /* ----- Flex Rows */

 .home-buffer-section {
    background-color: rgba(30, 27, 230, 0.5);
    flex-grow: 2;
    flex-basis: 0;
}

/* ----- Flex columns */

#home-screen .action {
    flex-basis: 150px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
}

/* ----- Inner Divs & Buttons */

#home-to-shop .button {
    background-image: url(../buttons/shop-sign.png);
}

#home-to-map .button {
    background-image: url(../buttons/road_sign.png);
}



/*
 =================================
    Shop Screen
 =================================
*/

#shop-screen {
     background-image: url("../backgrounds/template-shop-screen.png");
 }

 /* ----- Flex Rows */

 .shop-buffer-section {
    background-color: rgba(30, 27, 230, 0.5);
    flex-grow: 2;
    flex-basis: 0;
}

/* ----- Inner Divs & Buttons */

#upgrade-attack .button {
    background-image: url(../buttons/sword.png);
}

#upgrade-defence .button {
    background-image: url(../buttons/shield.png);
}

#shop-to-home .button {
    background-image: url(../buttons/door.png);
}



/*
 =================================
    Map Screen
 =================================
*/

#map-screen {
     background-image: url("../backgrounds/template-map-screen.png");
 }


/* ----- Flex Rows */

#map-screen .button-section {
    background-color: rgba(168, 28, 28, 0.5);
    flex-grow: 0;
    justify-content: space-around;
}

/* ----- Flex Columns */

#map-screen .action {
    background-color: rgba(86, 16, 218, 0.5);
    flex-grow: 0;
    flex-basis: 100px;
    flex-shrink: 1;
    padding: 5px;
    margin-bottom: 5px;
 }

/* ----- Inner Divs & Buttons */



#enemy-1-button .button {
    background-image: url(../buttons/enemy.png);
}

#enemy-2-button .button {
    background-image: url(../buttons/enemy.png);
}

#enemy-3-button .button {
    background-image: url(../buttons/enemy.png);
}

#enemy-4-button .button {
    background-image: url(../buttons/enemy.png);
}

#map-to-home .button {
    background-image: url(../buttons/road_sign.png);
}

/*
 =================================
    Map Screen
 =================================
*/

#victory-screen {
     background-image: url("../backgrounds/template-victory-screen.png");
 }


 /* -------------------------

 .game-screen {
     position: absolute;
     width: 768px;
     height: 1024px;
     left: calc(50% - 384px);
 }
  ----- Backgrounds










 #menu-screen {
     background-image: url("../backgrounds/template-menu-scroll.png");
 }


 #frame {
     background-image: url("../backgrounds/template-game-frame.png");
     position: absolute;
     width: 768px;
     height: 1024px;
     left: calc(50% - 384px);
     pointer-events: none;
 }

 body {
     background-image: url("../backgrounds/template-page-background.png");
     background-repeat: no-repeat;
     background-color: black;
     background-position-x: 50%;
 }
  ----- BUTTONS

 .buttonClass {
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     background-color: rgba(0, 0, 0, 0);
     border: none;
 }

 .buttonClass:active {
     transform: scale(0.95);
 }

 .buttonClass:disabled {
     opacity: 0.5;
 }

 .button-container {
     outline: red 3px solid;
     width: 100%;
     height: 100%;
 }
  -----

 #welcome-screen .toHomeButton {
     background-image: url(../buttons/scroll.png);
     position: absolute;
     width: 200px;
     height: 200px;
     left: calc(50% - 100px);
     top: calc(80% - 100px);
 }

 .menuButton {
     background-image: url(../buttons/settings.png);
     position: absolute;
     width: 50px;
     height: 50px;
     right: calc(9% - 25px);
     bottom: calc(8% - 25px);
 }
  -----

 .row-button-container2 {
     position: absolute;
     outline: blue 3px solid;
     width: 100%;
     bottom: 60px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }

 .toShopButton {
     background-image: url(../buttons/shop-sign.png);
 }

 #home-screen .toMapButton {
     background-image: url(../buttons/road_sign.png);
 }

 .button2 {
     width: 200px;
     height: 200px;
 }
  -----

 .row-button-container3 {
     position: absolute;
     outline: blue 3px solid;
     width: 100%;
     bottom: 110px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }

 .levelUpAttack {
     background-image: url(../buttons/sword.png);
 }

 .levelUpDefence {
     background-image: url(../buttons/shield.png);
 }

 #shop-screen .toHomeButton {
     background-image: url(../buttons/door.png);
 }
  -----

 .diagonal-button-container {
     position: absolute;
     outline: blue 3px solid;
     display: flex;
     flex-direction: column;
     height: 90%;
     width: 100%;
     top: 8%;
 }

 .enemy4Button {
     background-image: url(../buttons/enemy.png);
     position: absolute;
     width: 150px;
     height: 150px;
     top: 60px;
     left: 60%;
 }

 .enemy3Button {
     background-image: url(../buttons/enemy.png);
     position: absolute;
     width: 150px;
     height: 150px;
     left: 45%;
     top: calc(150px + 100px);
 }

 .enemy2Button {
     background-image: url(../buttons/enemy.png);
     position: absolute;
     width: 150px;
     height: 150px;
     left: 35%;
     top: calc(150px + 150px + 150px);
 }

 .enemy1Button {
     background-image: url(../buttons/enemy.png);
     position: absolute;
     width: 150px;
     height: 150px;
     left: 20%;
     top: calc(150px + 150px + 150px + 200px);
 }

 .mapButtonHome {
     background-image: url(../buttons/road_sign.png);
     position: absolute;
     width: 150px;
     height: 150px;
     left: 70%;
     top: calc(150px + 150px + 150px + 150px + 120px);
 }
  -----

 .attackButton {
     background-image: url(../buttons/sword.png);
 }

 .defenceButton {
     background-image: url(../buttons/shield.png);
 }

 .fleeButton {
     background-image: url(../buttons/run.png);
 }

 .button3 {
     width: 150px;
     height: 150px;
 }
  ----- POP ANIMATIONS

 #pop-text-container {
     position: absolute;
     width: 300px;
     height: 400px;
     left: calc(50% - 150px);
     top: 200px;
     pointer-events: none;
 }

 .pop-text {
     font-family: Impact, sans-serif;
     font-size: 10;
     opacity: 0;
 }
  ----- MENU

 #menu-container {
     position: absolute;
     width: 768px;
     height: 1024px;
     left: calc(50% - 384px);
     pointer-events: none;
     background-color: rgba(0, 0, 0, 0.7);
 }

 #dialogueScroll {
     position: absolute;
     width: 448px;
     height: 640px;
     left: calc(50% - 224px);
     top: calc(50% - 320px);
 }

 #menu-text-box {
     position: absolute;
     width: 250px;
     height: 600;
     left: calc(52% - 125px);
     top: calc(65% - 300px);
     list-style: none;
 }

 #menu-text-box h2 {
     font-size: 3rem;
     font-weight: 700;
 }

 #menu-text-box a {}
  ----- Heroine & Enemies

 .combat-image {
     position: absolute;
     pointer-events: none;
 }

 .action-text-container {
     position: absolute;
     width: 100%;
     top: 45%;
     font-family: Impact, sans-serif;
     font-size: 50px;
     opacity: 0;
 }

 .heroine-action {
     position: absolute;
     left: 20%;
     color: red;
 }

 .enemy-action {
     position: absolute;
     left: 65%;
     color: blue;
 }

 .damage-taken-text-container {
     position: absolute;
     width: 100%;
     top: 25%;
     font-family: Impact, sans-serif;
     font-size: 20px;
     opacity: 0;
 }

 .heroine-damage-taken {
     position: absolute;
     left: 27%;
     color: red;
 }

 .enemy-damage-taken {
     position: absolute;
     left: 70%;
     color: red;
 }
  ----- Pop up icons

 #pop-up-container {
     position: absolute;
     width: 768px;
     height: 1024px;
     left: calc(50% - 384px);
     background-color: rgba(0, 0, 0, 0.7)
 }

 #winFight {
     position: absolute;
     width: 200px;
     height: 200px;
     left: calc(50% - 100px);
     top: calc(50% - 100px);
 }

 #died {
     position: absolute;
     width: 200px;
     height: 200px;
     left: calc(50% - 100px);
     top: calc(50% - 100px);
 }

 #potionDrop {
     position: absolute;
     width: 200px;
     height: 200px;
     left: calc(50% - 100px);
     top: calc(50% - 100px);
 }

 #goldDrop {
     position: absolute;
     width: 200px;
     height: 200px;
     left: calc(50% - 100px);
     top: calc(50% - 100px);
 }
  ----- Loot & Potion Drop text

 .loot-drop-container {
     position: absolute;
     width: 100%;
     height: 100%;
     font-family: Impact, sans-serif;
     font-size: 30px;
     pointer-events: none;
 }

 .potion-drop-text {
     position: absolute;
     left: 47%;
     top: 45%;
     color: greenyellow;
     opacity: 0;
 }

 .gold-drop-text {
     position: absolute;
     left: 47%;
     top: 45%;
     color: goldenrod;
     opacity: 0;
 }

  ----- Round counter

 .round-counter-container {
     position: absolute;
     width: 768px;
     height: 1024px;
     left: calc(50% - 384px);
     pointer-events: none;
 }

 .inner-round-counter-container {
     position: absolute;
     width: 200px;
     height: 100px;
     left: calc(50% - 100px);
     top: calc(25% - 100px);
     pointer-events: none;
 }

 .inner-round-counter-container p {
     text-align: center;
 }
  Animation test

 #animation-text {
     opacity: 0;
     text-align: center;
 }